this series of tutorials can be found at:

https://www.analyticsvidhya.com/blog/2016/09/comprehensive-introduction-to-apache-spark-rdds-dataframes-using-pyspark/

https://www.analyticsvidhya.com/blog/2016/10/using-pyspark-to-perform-transformations-and-actions-on-rdd/

https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/

to use jupyter notebook with pyspark: https://blog.sicara.com/get-started-pyspark-jupyter-guide-tutorial-ae2fe84f594f

In [1]:
import findspark
findspark.init()
import pyspark
import random

creating sparkcontext

In [2]:
from pyspark import SparkContext
sc = SparkContext()

In [3]:
sc.version

'2.2.0'

### To load a csv file

In [4]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
transactions = sqlContext.read.csv('../../../data/raw/transactions.csv',header=True)
user_logs = sqlContext.read.csv('../../../data/raw/user_logs.csv',header=True)
train = sqlContext.read.csv('../../../data/raw/train.csv',header=True)
test = sqlContext.read.csv('../../../data/raw/sample_submission_zero.csv',header=True)
members = sqlContext.read.csv('../../../data/raw/members.csv',header=True)

first 10 rows

In [5]:
train.take(10)

[Row(msno='waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=', is_churn='1'),
 Row(msno='QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=', is_churn='1'),
 Row(msno='fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=', is_churn='1'),
 Row(msno='mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=', is_churn='1'),
 Row(msno='XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=', is_churn='1'),
 Row(msno='GBy8qSz16X5iYWD+3CMxv/Hm6OPSrXBYtmbnlRtknW0=', is_churn='1'),
 Row(msno='lYLh7TdkWpIoQs3i3o6mIjLH8/IEgMWP9r7OpsLX0Vo=', is_churn='1'),
 Row(msno='T0FF6lumjKcqEO0O+tUH2ytc+Kb9EkeaLzcVUiTr1aE=', is_churn='1'),
 Row(msno='Nb1ZGEmagQeba5E+nQj8VlQoWl+8SFmLZu+Y8ytIamw=', is_churn='1'),
 Row(msno='MkuWz0Nq6/Oq5fKqRddWL7oh2SLUSRe3/g+XmAWqW1Q=', is_churn='1')]

In [6]:
train.count()

992931

problem is: the users in transactions and user logs are not unique.

That is, the same user may have multiple entries in these dataframes

number of unique users in transaction

In [17]:
transactions.select('msno').distinct().count()

2363626

total number of entries in transaction

In [18]:
transactions.count()

21547746

number of unique users in user_logs

In [19]:
user_logs.select('msno').distinct().count()

5234111

total number of entries in user_logs

In [20]:
user_logs.count()

392106543

rename the msno column in train to avoid duplicated colnames after join

In [7]:
train = train.withColumnRenamed('msno', 'msno_1')

In [8]:
train1 = train.join(members, train['msno_1'] == members['msno'], 'left')

lazy evaluation, only calculates the dataframe when called

In [9]:
train1.count()

992931

In [10]:
train1 = train1.drop('msno')

to make sure we did the join correctly:

In [11]:
train1.orderBy('msno_1').select('msno_1').distinct().head(10)

[Row(msno_1='+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o='),
 Row(msno_1='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw='),
 Row(msno_1='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc='),
 Row(msno_1='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk='),
 Row(msno_1='++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50='),
 Row(msno_1='++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g='),
 Row(msno_1='++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI='),
 Row(msno_1='++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA='),
 Row(msno_1='++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY='),
 Row(msno_1='++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=')]

In [12]:
train.orderBy('msno_1').head(10)

[Row(msno_1='+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=', is_churn='0'),
 Row(msno_1='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', is_churn='0'),
 Row(msno_1='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', is_churn='0'),
 Row(msno_1='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', is_churn='0'),
 Row(msno_1='++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=', is_churn='0'),
 Row(msno_1='++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=', is_churn='0'),
 Row(msno_1='++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=', is_churn='0'),
 Row(msno_1='++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=', is_churn='0'),
 Row(msno_1='++0EzISdtKY48Z0GY62jer/LFQwrNIAbADdtU5xStGY=', is_churn='0'),
 Row(msno_1='++0wqjjQge1mBBe5r4ciHGKwtF/m322zkra7CK8I+Mw=', is_churn='0')]

Issue: when we have duplicates in the two dataframes we're trying to join, we end up with more rows in the resulting dataframe than both of its "parents".

To illustrate, if we have df1:

    Id | field_C | field_D
     A |   black | 11
     A |   white | 19
     A |  yellow | 20

and df2:

    Id | field_A | field_B 
     A |   cat   |  12     
     A |   dog   | 128     
     A |   dog   |  35     
 

when joining the two by Id, we will end up with

    Id | field_A | field_B | field_C | field_D
     A |   cat   |  12     |   black | 11
     A |   dog   | 128     |   black | 11
     A |   dog   |  35     |   black | 11
     A |   cat   |  12     |   white | 19
     A |   dog   |  128    |   white | 19
     A |   dog   |  35     |   white | 19
     A |   cat   |  12     |  yellow | 20
     A |   dog   |  128    |  yellow | 20
     A |   dog   |  35     |  yellow | 20
     
In general, you'll get $k * m$ rows with that the duplicated column value, where $k$ is the number of rows with that value in dataset 1 and $m$ is the number of rows with that value in dataset 2.

If we drop all duplicated msnos, we can avoid this issue but will suffer unaffordable information loss. If we don't drop any values, we will end up with a dataframe of amost 5 billion rows... I tried.

The duplicated msnos in **transactions** mostly originate from auto renewed records. The auto renewal in each month for the same user will be recorded as a separate entry, and the only differnce between these entries are the dates. We can probably aggregate this information into a new column like "number of autorenewals"? will talk with dear captain when get the chance.

The duplicated msnos in **user_logs** come from actual playing records for the same user on each day. These information are actually very valuable and shouldn't be neglected. We can potentially use a mean/median to capture characteristics for each user though.

Anyhow, we now have an effective way to manipulate even very large dataframes with pyspark. we can perform standard pandas operations such as filter, select, join, aggregate as well as map and reduce to them. the next step is to discuss how we want our data processed.

In [80]:
transactions.orderBy('msno').head(100)

[Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', payment_method_id='35', payment_plan_days='7', plan_list_price='0', actual_amount_paid='0', is_auto_renew='0', transaction_date='20160909', membership_expire_date='20160914', is_cancel='0'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', payment_method_id='38', payment_plan_days='410', plan_list_price='1788', actual_amount_paid='1788', is_auto_renew='0', transaction_date='20151121', membership_expire_date='20170104', is_cancel='0'),
 Row(msno='+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=', payment_method_id='41', payment_plan_days='30', plan_list_price='99', actual_amount_paid='99', is_auto_renew='1', transaction_date='20170215', membership_expire_date='20170315', is_cancel='0'),
 Row(msno='+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=', payment_method_id='41', payment_plan_days='30', plan_list_price='99', actual_amount_paid='99', is_auto_renew='1', transaction_date='20161215', membership_expire_date='20170115', is_cancel='0'),
 Row(msno='+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=', payment_method_id='41', payment_plan_days='30', plan_list_price='99', actual_amount_paid='99', is_auto_renew='1', transaction_date='20170115', membership_expire_date='20170215', is_cancel='0'),
 Row(msno='+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=', payment_method_id='41', payment_plan_days='30', plan_list_price='99', actual_amount_paid='99', is_auto_renew='1', transaction_date='20161116', membership_expire_date='20161215', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150831', membership_expire_date='20151019', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='0', plan_list_price='0', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150430', membership_expire_date='20150619', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150630', membership_expire_date='20150819', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160731', membership_expire_date='20160919', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161031', membership_expire_date='20161219', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20151202', membership_expire_date='20160119', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161231', membership_expire_date='20170219', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160831', membership_expire_date='20161019', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150531', membership_expire_date='20150719', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150131', membership_expire_date='20150319', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150930', membership_expire_date='20151119', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20151102', membership_expire_date='20151219', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160930', membership_expire_date='20161119', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20170131', membership_expire_date='20170319', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150331', membership_expire_date='20150519', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161130', membership_expire_date='20170119', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150731', membership_expire_date='20150919', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160131', membership_expire_date='20160319', is_cancel='0'),
 Row(msno='+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', payment_method_id='39', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150228', membership_expire_date='20150419', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160126', membership_expire_date='20160226', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160526', membership_expire_date='20160626', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20151226', membership_expire_date='20160126', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160626', membership_expire_date='20160726', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161126', membership_expire_date='20161226', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150526', membership_expire_date='20150626', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160226', membership_expire_date='20160326', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20170126', membership_expire_date='20170226', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160826', membership_expire_date='20160926', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20151026', membership_expire_date='20151126', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160326', membership_expire_date='20160426', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150226', membership_expire_date='20150326', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150926', membership_expire_date='20151026', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161226', membership_expire_date='20170126', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150126', membership_expire_date='20150226', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20170226', membership_expire_date='20170326', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='0', plan_list_price='0', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150426', membership_expire_date='20150526', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150826', membership_expire_date='20150926', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160426', membership_expire_date='20160526', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20151126', membership_expire_date='20151226', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150326', membership_expire_date='20150426', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150626', membership_expire_date='20150726', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150726', membership_expire_date='20150826', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160926', membership_expire_date='20161026', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161026', membership_expire_date='20161126', is_cancel='0'),
 Row(msno='+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160726', membership_expire_date='20160826', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160315', membership_expire_date='20160415', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160915', membership_expire_date='20161015', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160415', membership_expire_date='20160515', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161215', membership_expire_date='20170115', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160715', membership_expire_date='20160815', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20170215', membership_expire_date='20170315', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20170115', membership_expire_date='20170215', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161115', membership_expire_date='20161215', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20161015', membership_expire_date='20161115', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160515', membership_expire_date='20160615', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160615', membership_expire_date='20160715', is_cancel='0'),
 Row(msno='++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=', payment_method_id='41', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20160815', membership_expire_date='20160915', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='0', plan_list_price='0', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150513', membership_expire_date='20150616', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='32', payment_plan_days='195', plan_list_price='894', actual_amount_paid='894', is_auto_renew='0', transaction_date='20150819', membership_expire_date='20160301', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150713', membership_expire_date='20150816', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150613', membership_expire_date='20150716', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150113', membership_expire_date='20150216', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150313', membership_expire_date='20150416', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150721', membership_expire_date='20150816', is_cancel='1'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150213', membership_expire_date='20150316', is_cancel='0'),
 Row(msno='++/Gw1B9K+XOlB3hLTloeUK2QlCa2m+BJ8TrzGf7djI=', payment_method_id='40', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150413', membership_expire_date='20150516', is_cancel='0'),
 Row(msno='++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=', payment_method_id='11', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150826', membership_expire_date='20150925', is_cancel='1'),
 Row(msno='++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=', payment_method_id='11', payment_plan_days='0', plan_list_price='0', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150425', membership_expire_date='20150525', is_cancel='0'),
 Row(msno='++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=', payment_method_id='11', payment_plan_days='30', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150525', membership_expire_date='20150625', is_cancel='0'),
 Row(msno='++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=', payment_method_id='11', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150325', membership_expire_date='20150425', is_cancel='0'),
 Row(msno='++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=', payment_method_id='11', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150224', membership_expire_date='20150325', is_cancel='0'),
 Row(msno='++/TR7WI15q2ZCtOXmoap7jR+kEhbMVE5swOqsfqpqI=', payment_method_id='11', payment_plan_days='31', plan_list_price='149', actual_amount_paid='149', is_auto_renew='1', transaction_date='20150124', membership_expire_date='20150225', is_cancel='0'),

In [79]:
user_logs.orderBy('msno').head(100)

[Row(msno='+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=', date='20150427', num_25='1', num_50='1', num_75='0', num_985='0', num_100='0', num_unq='2', total_secs='97.4110'),
 Row(msno='+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=', date='20160420', num_25='2', num_50='0', num_75='0', num_985='0', num_100='0', num_unq='1', total_secs='56.8680'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160915', num_25='0', num_50='0', num_75='0', num_985='1', num_100='3', num_unq='4', total_secs='834.1890'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160913', num_25='3', num_50='0', num_75='0', num_985='2', num_100='75', num_unq='61', total_secs='19967.7380'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160914', num_25='2', num_50='0', num_75='0', num_985='0', num_100='16', num_unq='18', total_secs='4253.9640'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160912', num_25='0', num_50='0', num_75='0', num_985='0', num_100='3', num_unq='2', total_secs='956.8320'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160910', num_25='1', num_50='0', num_75='1', num_985='1', num_100='10', num_unq='10', total_secs='2998.2670'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160911', num_25='12', num_50='7', num_75='2', num_985='2', num_100='10', num_unq='26', total_secs='4158.7870'),
 Row(msno='+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=', date='20160909', num_25='42', num_50='5', num_75='11', num_985='1', num_100='54', num_unq='58', total_secs='16826.9940'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160530', num_25='0', num_50='0', num_75='0', num_985='0', num_100='104', num_unq='101', total_secs='26617.6910'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161229', num_25='0', num_50='0', num_75='0', num_985='1', num_100='143', num_unq='143', total_secs='34626.8190'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150805', num_25='0', num_50='0', num_75='0', num_985='0', num_100='32', num_unq='32', total_secs='8207.7190'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160115', num_25='3', num_50='0', num_75='1', num_985='0', num_100='27', num_unq='30', total_secs='4949.8020'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161102', num_25='0', num_50='0', num_75='1', num_985='0', num_100='105', num_unq='99', total_secs='27858.8300'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160405', num_25='1', num_50='0', num_75='0', num_985='0', num_100='123', num_unq='124', total_secs='31038.3100'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150418', num_25='0', num_50='0', num_75='0', num_985='0', num_100='135', num_unq='135', total_secs='32038.2980'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160524', num_25='0', num_50='0', num_75='0', num_985='0', num_100='114', num_unq='100', total_secs='28925.7310'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161230', num_25='0', num_50='0', num_75='0', num_985='0', num_100='17', num_unq='17', total_secs='4410.7600'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150609', num_25='0', num_50='0', num_75='1', num_985='0', num_100='120', num_unq='121', total_secs='31577.8700'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150928', num_25='0', num_50='0', num_75='0', num_985='0', num_100='27', num_unq='27', total_secs='7344.4950'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151125', num_25='0', num_50='0', num_75='0', num_985='0', num_100='130', num_unq='130', total_secs='31303.9100'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150226', num_25='0', num_50='0', num_75='0', num_985='0', num_100='14', num_unq='14', total_secs='3182.7600'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160404', num_25='1', num_50='1', num_75='1', num_985='0', num_100='53', num_unq='54', total_secs='12659.3100'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150929', num_25='0', num_50='0', num_75='0', num_985='0', num_100='89', num_unq='89', total_secs='23110.8490'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151119', num_25='0', num_50='0', num_75='0', num_985='0', num_100='125', num_unq='100', total_secs='32289.3000'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160822', num_25='11', num_50='4', num_75='0', num_985='1', num_100='3', num_unq='18', total_secs='1047.2230'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160529', num_25='0', num_50='0', num_75='0', num_985='0', num_100='122', num_unq='100', total_secs='30888.4430'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160824', num_25='4', num_50='1', num_75='2', num_985='0', num_100='7', num_unq='13', total_secs='2232.9110'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161031', num_25='0', num_50='0', num_75='0', num_985='1', num_100='142', num_unq='122', total_secs='36885.3390'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161101', num_25='0', num_50='0', num_75='0', num_985='0', num_100='109', num_unq='101', total_secs='28759.9300'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150224', num_25='3', num_50='1', num_75='0', num_985='0', num_100='134', num_unq='129', total_secs='34056.5280'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160823', num_25='3', num_50='2', num_75='0', num_985='1', num_100='11', num_unq='17', total_secs='1995.8350'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161227', num_25='0', num_50='0', num_75='0', num_985='0', num_100='142', num_unq='138', total_secs='34282.6190'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150225', num_25='1', num_50='0', num_75='0', num_985='0', num_100='126', num_unq='24', total_secs='28277.9260'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150608', num_25='0', num_50='0', num_75='0', num_985='0', num_100='118', num_unq='118', total_secs='26183.0400'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160119', num_25='1', num_50='2', num_75='0', num_985='1', num_100='6', num_unq='10', total_secs='1963.9460'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150606', num_25='3', num_50='2', num_75='1', num_985='1', num_100='138', num_unq='135', total_secs='33276.9050'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150801', num_25='0', num_50='0', num_75='1', num_985='0', num_100='143', num_unq='100', total_secs='31873.0440'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160117', num_25='1', num_50='0', num_75='0', num_985='1', num_100='42', num_unq='43', total_secs='9871.7730'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150804', num_25='0', num_50='1', num_75='0', num_985='0', num_100='116', num_unq='86', total_secs='30300.2360'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150729', num_25='1', num_50='0', num_75='0', num_985='0', num_100='106', num_unq='101', total_secs='27200.8510'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150222', num_25='4', num_50='1', num_75='0', num_985='0', num_100='23', num_unq='24', total_secs='5412.2710'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151122', num_25='0', num_50='0', num_75='0', num_985='0', num_100='148', num_unq='148', total_secs='35545.6100'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161027', num_25='0', num_50='1', num_75='0', num_985='1', num_100='119', num_unq='108', total_secs='31096.5700'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160401', num_25='0', num_50='0', num_75='0', num_985='0', num_100='1', num_unq='1', total_secs='189.3590'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150223', num_25='0', num_50='0', num_75='0', num_985='0', num_100='112', num_unq='110', total_secs='26150.0190'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150802', num_25='0', num_50='0', num_75='0', num_985='0', num_100='135', num_unq='135', total_secs='33775.3030'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150417', num_25='1', num_50='1', num_75='1', num_985='0', num_100='125', num_unq='114', total_secs='29857.8590'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160114', num_25='0', num_50='0', num_75='0', num_985='0', num_100='136', num_unq='134', total_secs='32180.4900'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150927', num_25='0', num_50='1', num_75='0', num_985='0', num_100='86', num_unq='86', total_secs='22311.3680'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161228', num_25='0', num_50='0', num_75='1', num_985='0', num_100='130', num_unq='129', total_secs='31645.1960'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151123', num_25='0', num_50='2', num_75='1', num_985='0', num_100='176', num_unq='178', total_secs='43162.8690'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160116', num_25='4', num_50='0', num_75='2', num_985='0', num_100='24', num_unq='29', total_secs='5326.5130'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150413', num_25='0', num_50='0', num_75='1', num_985='0', num_100='161', num_unq='124', total_secs='39156.8500'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150803', num_25='0', num_50='0', num_75='0', num_985='0', num_100='123', num_unq='86', total_secs='31888.2620'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160527', num_25='0', num_50='0', num_75='0', num_985='0', num_100='24', num_unq='24', total_secs='6064.1540'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150412', num_25='0', num_50='0', num_75='0', num_985='0', num_100='129', num_unq='123', total_secs='31955.0500'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160525', num_25='0', num_50='0', num_75='0', num_985='0', num_100='122', num_unq='100', total_secs='30888.9940'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151124', num_25='0', num_50='0', num_75='0', num_985='1', num_100='159', num_unq='160', total_secs='39459.2090'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150414', num_25='0', num_50='1', num_75='0', num_985='0', num_100='148', num_unq='123', total_secs='37442.9900'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160820', num_25='12', num_50='3', num_75='2', num_985='4', num_100='14', num_unq='33', total_secs='4984.1040'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161030', num_25='1', num_50='0', num_75='0', num_985='0', num_100='105', num_unq='104', total_secs='27105.9980'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161225', num_25='0', num_50='0', num_75='0', num_985='0', num_100='125', num_unq='125', total_secs='29907.1680'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150926', num_25='0', num_50='1', num_75='0', num_985='0', num_100='18', num_unq='19', total_secs='4137.4170'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150604', num_25='0', num_50='0', num_75='2', num_985='2', num_100='170', num_unq='170', total_secs='38209.0390'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160330', num_25='0', num_50='0', num_75='0', num_985='0', num_100='120', num_unq='100', total_secs='30378.8600'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161026', num_25='0', num_50='0', num_75='0', num_985='0', num_100='120', num_unq='108', total_secs='30995.4090'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150219', num_25='3', num_50='1', num_75='0', num_985='1', num_100='34', num_unq='38', total_secs='8936.8350'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160331', num_25='8', num_50='2', num_75='1', num_985='0', num_100='3', num_unq='12', total_secs='1146.1720'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160112', num_25='1', num_50='0', num_75='1', num_985='1', num_100='215', num_unq='197', total_secs='50865.6570'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160113', num_25='1', num_50='0', num_75='0', num_985='0', num_100='230', num_unq='227', total_secs='56000.6200'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160819', num_25='7', num_50='2', num_75='0', num_985='2', num_100='15', num_unq='26', total_secs='4674.7140'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150731', num_25='0', num_50='0', num_75='0', num_985='0', num_100='145', num_unq='100', total_secs='32325.9170'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160111', num_25='1', num_50='0', num_75='0', num_985='0', num_100='190', num_unq='188', total_secs='46731.9990'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150218', num_25='2', num_50='1', num_75='0', num_985='0', num_100='81', num_unq='83', total_secs='20854.0650'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160329', num_25='0', num_50='0', num_75='0', num_985='0', num_100='126', num_unq='113', total_secs='32181.7500'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161028', num_25='0', num_50='0', num_75='0', num_985='0', num_100='13', num_unq='13', total_secs='3535.7700'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160523', num_25='0', num_50='0', num_75='0', num_985='0', num_100='128', num_unq='100', total_secs='32482.1140'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150923', num_25='0', num_50='0', num_75='1', num_985='0', num_100='104', num_unq='100', total_secs='27332.6390'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150730', num_25='1', num_50='0', num_75='0', num_985='0', num_100='152', num_unq='133', total_secs='35316.2840'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150925', num_25='0', num_50='1', num_75='0', num_985='0', num_100='119', num_unq='20', total_secs='26769.0850'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161226', num_25='1', num_50='0', num_75='0', num_985='0', num_100='142', num_unq='140', total_secs='34851.8200'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150415', num_25='0', num_50='0', num_75='1', num_985='0', num_100='125', num_unq='125', total_secs='29772.8790'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160526', num_25='0', num_50='1', num_75='0', num_985='0', num_100='119', num_unq='100', total_secs='30264.4650'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20161224', num_25='2', num_50='0', num_75='1', num_985='0', num_100='25', num_unq='28', total_secs='5773.0130'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150411', num_25='0', num_50='0', num_75='0', num_985='0', num_100='136', num_unq='130', total_secs='33367.7200'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150605', num_25='0', num_50='0', num_75='0', num_985='1', num_100='143', num_unq='141', total_secs='32315.2400'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150924', num_25='0', num_50='0', num_75='0', num_985='0', num_100='125', num_unq='100', total_secs='32569.0870'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150603', num_25='1', num_50='0', num_75='0', num_985='0', num_100='139', num_unq='128', total_secs='31683.9200'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160328', num_25='1', num_50='1', num_75='2', num_985='0', num_100='81', num_unq='85', total_secs='19951.1330'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150607', num_25='3', num_50='3', num_75='2', num_985='1', num_100='149', num_unq='157', total_secs='34614.8200'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151121', num_25='0', num_50='0', num_75='0', num_985='0', num_100='116', num_unq='116', total_secs='27872.1100'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150211', num_25='2', num_50='0', num_75='0', num_985='0', num_100='105', num_unq='60', total_secs='25033.9390'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160522', num_25='0', num_50='0', num_75='1', num_985='0', num_100='105', num_unq='102', total_secs='26759.3030'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151118', num_25='0', num_50='0', num_75='0', num_985='0', num_100='144', num_unq='124', total_secs='36674.7700'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160403', num_25='1', num_50='1', num_75='0', num_985='0', num_100='50', num_unq='48', total_secs='12265.4300'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20150416', num_25='0', num_50='0', num_75='0', num_985='0', num_100='145', num_unq='142', total_secs='34317.8700'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160816', num_25='0', num_50='0', num_75='0', num_985='0', num_100='7', num_unq='7', total_secs='1899.0000'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20151120', num_25='0', num_50='0', num_75='0', num_985='0', num_100='74', num_unq='74', total_secs='17905.3000'),
 Row(msno='+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', date='20160817', num_25='1', num_50='1', num_75='2', num_985='2', num_100='9', num_unq='15', total_secs='2616.2120')]

to just get rid of entries with duplicated msno when joining (don't want)

In [83]:
train1 = train1.drop_duplicates(subset=['msno_1'])
transactions_drop = transactions.drop_duplicates(subset=['msno'])
train2 = train1.join(transactions_drop, train1['msno_1'] == transactions_drop['msno'], 'left')
train2 = train2.drop('msno')
train2 = train2.drop_duplicates(subset=['msno_1'])
user_logs_drop = user_logs.drop_duplicates(subset=['msno'])
train3 = train2.join(user_logs_drop, train2['msno_1'] == user_logs_drop['msno'], 'inner')

In [84]:
train3.count()

869926

In [17]:
transactions.dtypes

[('msno', 'string'),
 ('payment_method_id', 'string'),
 ('payment_plan_days', 'string'),
 ('plan_list_price', 'string'),
 ('actual_amount_paid', 'string'),
 ('is_auto_renew', 'string'),
 ('transaction_date', 'string'),
 ('membership_expire_date', 'string'),
 ('is_cancel', 'string')]

In [18]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

In [22]:
func =  udf (lambda x: datetime.strptime(x, '%m/%d/%Y'), DateType())

transactions = transactions.withColumn('transaction_date', func(col('transaction_date')))
transactions = transactions.withColumn('membership_expire_date', func(col('transaction_date')))

In [24]:
transactions.dtypes

[('msno', 'string'),
 ('payment_method_id', 'string'),
 ('payment_plan_days', 'string'),
 ('plan_list_price', 'string'),
 ('actual_amount_paid', 'string'),
 ('is_auto_renew', 'string'),
 ('transaction_date', 'date'),
 ('membership_expire_date', 'date'),
 ('is_cancel', 'string')]

In [26]:
transagg = transactions.groupBy("msno").agg({"payment_method_id": "avg", "payment_plan_days": "avg", "plan_list_price": "avg", "actual_amount_paid": "avg", "is_auto_renew": 'min', "transaction_date": "max", "membership_expire_date": "max", "is_cancel" : "max"})

In [27]:
transagg.count()

2363626

In [29]:
transagg.head(100)

Py4JJavaError: An error occurred while calling o251.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 3 in stage 26.0 failed 1 times, most recent failure: Lost task 3.0 in stage 26.0 (TID 856, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/worker.py", line 177, in main
    process()
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/worker.py", line 172, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 220, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 138, in dump_stream
    for obj in iterator:
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 209, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/worker.py", line 69, in <lambda>
    return lambda *a: toInternal(f(*a))
  File "<ipython-input-22-8f10bb01a713>", line 1, in <lambda>
  File "/usr/lib/python3.5/_strptime.py", line 510, in _strptime_datetime
    tt, fraction = _strptime(data_string, format)
  File "/usr/lib/python3.5/_strptime.py", line 343, in _strptime
    (data_string, format))
ValueError: time data '20160111' does not match format '%m/%d/%Y'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:144)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:87)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:797)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:797)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1499)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1487)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1486)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1486)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1714)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1669)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1658)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:630)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2022)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2043)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2062)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:336)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply$mcI$sp(Dataset.scala:2803)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2800)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:2800)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2823)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:2800)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/worker.py", line 177, in main
    process()
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/worker.py", line 172, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 220, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 138, in dump_stream
    for obj in iterator:
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 209, in _batched
    for item in iterator:
  File "<string>", line 1, in <lambda>
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/worker.py", line 69, in <lambda>
    return lambda *a: toInternal(f(*a))
  File "<ipython-input-22-8f10bb01a713>", line 1, in <lambda>
  File "/usr/lib/python3.5/_strptime.py", line 510, in _strptime_datetime
    tt, fraction = _strptime(data_string, format)
  File "/usr/lib/python3.5/_strptime.py", line 343, in _strptime
    (data_string, format))
ValueError: time data '20160111' does not match format '%m/%d/%Y'

	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRDD.scala:193)
	at org.apache.spark.api.python.PythonRunner$$anon$1.<init>(PythonRDD.scala:234)
	at org.apache.spark.api.python.PythonRunner.compute(PythonRDD.scala:152)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:144)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec$$anonfun$doExecute$1.apply(BatchEvalPythonExec.scala:87)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:797)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitions$1$$anonfun$apply$23.apply(RDD.scala:797)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

# Ignore materials below $$$$$$$$$$$$$$$$$$$$$$$$$$$$$

### machine learning example

https://datahack.analyticsvidhya.com/contest/black-friday/

In [6]:
train = sqlContext.read.csv('../../../data/blackfriday/train.csv',header=True)
test = sqlContext.read.csv('../../../data/blackfriday/test.csv',header =True)

In [7]:
train.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: string (nullable = true)

In [8]:
train.head(10)

[Row(User_ID='1000001', Product_ID='P00069042', Gender='F', Age='0-17', Occupation='10', City_Category='A', Stay_In_Current_City_Years='2', Marital_Status='0', Product_Category_1='3', Product_Category_2=None, Product_Category_3=None, Purchase='8370'),
 Row(User_ID='1000001', Product_ID='P00248942', Gender='F', Age='0-17', Occupation='10', City_Category='A', Stay_In_Current_City_Years='2', Marital_Status='0', Product_Category_1='1', Product_Category_2='6', Product_Category_3='14', Purchase='15200'),
 Row(User_ID='1000001', Product_ID='P00087842', Gender='F', Age='0-17', Occupation='10', City_Category='A', Stay_In_Current_City_Years='2', Marital_Status='0', Product_Category_1='12', Product_Category_2=None, Product_Category_3=None, Purchase='1422'),
 Row(User_ID='1000001', Product_ID='P00085442', Gender='F', Age='0-17', Occupation='10', City_Category='A', Stay_In_Current_City_Years='2', Marital_Status='0', Product_Category_1='12', Product_Category_2='14', Product_Category_3=None, Purchase='1057'),
 Row(User_ID='1000002', Product_ID='P00285442', Gender='M', Age='55+', Occupation='16', City_Category='C', Stay_In_Current_City_Years='4+', Marital_Status='0', Product_Category_1='8', Product_Category_2=None, Product_Category_3=None, Purchase='7969'),
 Row(User_ID='1000003', Product_ID='P00193542', Gender='M', Age='26-35', Occupation='15', City_Category='A', Stay_In_Current_City_Years='3', Marital_Status='0', Product_Category_1='1', Product_Category_2='2', Product_Category_3=None, Purchase='15227'),
 Row(User_ID='1000004', Product_ID='P00184942', Gender='M', Age='46-50', Occupation='7', City_Category='B', Stay_In_Current_City_Years='2', Marital_Status='1', Product_Category_1='1', Product_Category_2='8', Product_Category_3='17', Purchase='19215'),
 Row(User_ID='1000004', Product_ID='P00346142', Gender='M', Age='46-50', Occupation='7', City_Category='B', Stay_In_Current_City_Years='2', Marital_Status='1', Product_Category_1='1', Product_Category_2='15', Product_Category_3=None, Purchase='15854'),
 Row(User_ID='1000004', Product_ID='P0097242', Gender='M', Age='46-50', Occupation='7', City_Category='B', Stay_In_Current_City_Years='2', Marital_Status='1', Product_Category_1='1', Product_Category_2='16', Product_Category_3=None, Purchase='15686'),
 Row(User_ID='1000005', Product_ID='P00274942', Gender='M', Age='26-35', Occupation='20', City_Category='A', Stay_In_Current_City_Years='1', Marital_Status='1', Product_Category_1='8', Product_Category_2=None, Product_Category_3=None, Purchase='7871')]

number of rows

In [9]:
train.count()

550068

impute missing values

In [10]:
train.na.drop().count(),test.na.drop('any').count()

(166821, 71037)

In [11]:
train = train.fillna(-1)
test = test.fillna(-1)

summary

In [12]:
train.describe().show()

+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|   Age|       Occupation|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|  count|            550068|    550068|550068|550068|           550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|
|   mean|1003028.8424013031|      null|  null|  null|8.076706879876669|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|
| stddev|1727.5915855313278|      null|  null|  null|6.522660487341822|         null|        0.9890866807573164|0.49177012631733186| 3.936211369201384| 5.086589648693496|4.1253376315752845|5023.065393820554|
|    min|           1000001| P00000142|     F|  0-17|                0|            A|                         0|                  0|                 1|                10|                10|            10000|
|    max|           1006040|  P0099942|     M|   55+|                9|            C|                        4+|                  1|                 9|                 9|                 9|             9999|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

In [13]:
train.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [14]:
train.select('User_ID').show()

+-------+
|User_ID|
+-------+
|1000001|
|1000001|
|1000001|
|1000001|
|1000002|
|1000003|
|1000004|
|1000004|
|1000004|
|1000005|
|1000005|
|1000005|
|1000005|
|1000005|
|1000006|
|1000006|
|1000006|
|1000006|
|1000007|
|1000008|
+-------+
only showing top 20 rows

distribution of categorical features

In [15]:
train.select('Product_ID').distinct().count(), test.select('Product_ID').distinct().count()

(3631, 3491)

number of categories for Product_ID, which are in test but not in train by applying subtract method

In [16]:
diff_cat_in_train_test=test.select('Product_ID').subtract(train.select('Product_ID'))
diff_cat_in_train_test.distinct().count()# For distict count

46

Transforming categorical variables to labels

In [40]:
from pyspark.ml.feature import StringIndexer
plan_indexer = StringIndexer(inputCol = 'Product_ID', outputCol = 'product_ID_new')
labeller = plan_indexer.fit(train)

Above, we build a ‘labeller’ by applying fit() method on train Dataframe. Later we will use this ‘labeller’ to transform our train and test. Let us transform our train and test Dataframe with the help of labeller. We need to call transform method for doing that. We will store the transformation result in Train1 and Test1.

In [41]:
Train1 = labeller.transform(train)
Test1 = labeller.transform(test)

In [42]:
Train1.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+--------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|product_ID_new|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+--------------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|         766.0|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|         183.0|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|        1496.0|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|         481.0|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|         860.0|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|         157.0|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|           5.0|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|         177.0|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|          51.0|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    7871|          78.0|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|                11|              null|    5254|          27.0|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    3957|         128.0|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    6073|        2318.0|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|           9.0|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|        1680.0|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|                 5|              null|    2079|         927.0|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|        1000.0|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|                14|              null|    8851|         209.0|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|                14|                16|   11788|          58.0|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|          81.0|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+--------------+
only showing top 20 rows

successfully added one transformed column product_ID_new in our previous train Dataframe

### feature selection

In [43]:
df = sqlContext.createDataFrame([
    (1.0, 1.0, "a"),
    (0.0, 2.0, "b"),
    (0.0, 0.0, "a")
], ["y", "x", "s"])

In [51]:
rf = RFormula(formula="y ~ x + s")

In [52]:
rf.fit(df).transform(df).show()

+---+---+---+---------+-----+
|  y|  x|  s| features|label|
+---+---+---+---------+-----+
|1.0|1.0|  a|[1.0,1.0]|  1.0|
|0.0|2.0|  b|[2.0,0.0]|  0.0|
|0.0|0.0|  a|[0.0,1.0]|  0.0|
+---+---+---+---------+-----+

In [79]:
from pyspark.ml.feature import RFormula
formula = RFormula(formula="Purchase ~ Age + Occupation +City_Category + Stay_In_Current_City_Years + Product_Category_1 + Product_Category_2 + Gender",featuresCol="features",labelCol="label")

In [80]:
t1 = formula.fit(Train1)
train1 = t1.transform(Train1)
test1 = t1.transform(Test1)

In [81]:
train1.dtypes

[('User_ID', 'string'),
 ('Product_ID', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Occupation', 'string'),
 ('City_Category', 'string'),
 ('Stay_In_Current_City_Years', 'string'),
 ('Marital_Status', 'string'),
 ('Product_Category_1', 'string'),
 ('Product_Category_2', 'string'),
 ('Product_Category_3', 'string'),
 ('Purchase', 'string'),
 ('product_ID_new', 'double'),
 ('features', 'vector'),
 ('label', 'double')]

something wrong with the version or whatever from here.. but dataframe transformation can be done with no problem

In [89]:
train1.select('label').show()
train1.select('features').show()

+-------+
|  label|
+-------+
|11529.0|
| 2312.0|
| 5917.0|
| 9163.0|
|  245.0|
| 2246.0|
| 5247.0|
| 3251.0|
| 3012.0|
|  774.0|
|  614.0|
| 5830.0|
| 1525.0|
| 2777.0|
|  830.0|
| 6344.0|
|11581.0|
| 1422.0|
| 3371.0|
| 4244.0|
+-------+
only showing top 20 rows

Py4JJavaError: An error occurred while calling o1365.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 211.0 failed 1 times, most recent failure: Lost task 0.0 in stage 211.0 (TID 1295, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$5: (string) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:234)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:228)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: StringIndexer encountered NULL value. To handle or skip NULLS, try setting StringIndexer.handleInvalid.
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:213)
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:208)
	... 16 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1499)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1487)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1486)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1486)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1714)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1669)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1658)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:630)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2022)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2043)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2062)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:336)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:2853)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2153)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2153)
	at org.apache.spark.sql.Dataset$$anonfun$55.apply(Dataset.scala:2837)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:2836)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2153)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2366)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:245)
	at sun.reflect.GeneratedMethodAccessor71.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$5: (string) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:234)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:228)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:827)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:323)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:287)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: org.apache.spark.SparkException: StringIndexer encountered NULL value. To handle or skip NULLS, try setting StringIndexer.handleInvalid.
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:213)
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:208)
	... 16 more

### model: random forest

In [74]:
from pyspark.ml.regression import RandomForestRegressor
rf = RandomForestRegressor()

In [75]:
(train_cv, test_cv) = train1.randomSplit([0.7, 0.3])

In [76]:
model1 = rf.fit(train_cv)
predictions = model1.transform(test_cv)

Py4JJavaError: An error occurred while calling o891.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 183.0 failed 1 times, most recent failure: Lost task 0.0 in stage 183.0 (TID 1216, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$5: (string) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.sort_addToSorter$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:389)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1336)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: StringIndexer encountered NULL value. To handle or skip NULLS, try setting StringIndexer.handleInvalid.
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:213)
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:208)
	... 30 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1499)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1487)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1486)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1486)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1714)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1669)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1658)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:630)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2022)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2043)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2062)
	at org.apache.spark.rdd.RDD$$anonfun$take$1.apply(RDD.scala:1354)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
	at org.apache.spark.rdd.RDD.take(RDD.scala:1327)
	at org.apache.spark.ml.tree.impl.DecisionTreeMetadata$.buildMetadata(DecisionTreeMetadata.scala:112)
	at org.apache.spark.ml.tree.impl.RandomForest$.run(RandomForest.scala:105)
	at org.apache.spark.ml.regression.RandomForestRegressor.train(RandomForestRegressor.scala:130)
	at org.apache.spark.ml.regression.RandomForestRegressor.train(RandomForestRegressor.scala:45)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:118)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$5: (string) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.sort_addToSorter$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:389)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1336)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: org.apache.spark.SparkException: StringIndexer encountered NULL value. To handle or skip NULLS, try setting StringIndexer.handleInvalid.
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:213)
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:208)
	... 30 more

In [101]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator()
mse = evaluator.evaluate(predictions,{evaluator.metricName:"mse" })
import numpy as np
np.sqrt(mse), mse

NameError: name 'predictions' is not defined

In [102]:
model = rf.fit(train1)
predictions1 = model.transform(test1)

Py4JJavaError: An error occurred while calling o1379.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 163.0 failed 1 times, most recent failure: Lost task 0.0 in stage 163.0 (TID 1656, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$5: (string) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:389)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1336)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: StringIndexer encountered NULL value. To handle or skip NULLS, try setting StringIndexer.handleInvalid.
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:213)
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:208)
	... 29 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1499)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1487)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1486)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1486)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:814)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:814)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1714)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1669)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1658)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:630)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2022)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2043)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2062)
	at org.apache.spark.rdd.RDD$$anonfun$take$1.apply(RDD.scala:1354)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:362)
	at org.apache.spark.rdd.RDD.take(RDD.scala:1327)
	at org.apache.spark.ml.tree.impl.DecisionTreeMetadata$.buildMetadata(DecisionTreeMetadata.scala:112)
	at org.apache.spark.ml.tree.impl.RandomForest$.run(RandomForest.scala:105)
	at org.apache.spark.ml.regression.RandomForestRegressor.train(RandomForestRegressor.scala:130)
	at org.apache.spark.ml.regression.RandomForestRegressor.train(RandomForestRegressor.scala:45)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:118)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$5: (string) => double)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$8$$anon$1.hasNext(WholeStageCodegenExec.scala:395)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:389)
	at scala.collection.Iterator$class.foreach(Iterator.scala:893)
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at scala.collection.AbstractIterator.to(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at scala.collection.AbstractIterator.toBuffer(Iterator.scala:1336)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at scala.collection.AbstractIterator.toArray(Iterator.scala:1336)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.rdd.RDD$$anonfun$take$1$$anonfun$29.apply(RDD.scala:1354)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2062)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:108)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:335)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: org.apache.spark.SparkException: StringIndexer encountered NULL value. To handle or skip NULLS, try setting StringIndexer.handleInvalid.
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:213)
	at org.apache.spark.ml.feature.StringIndexerModel$$anonfun$5.apply(StringIndexer.scala:208)
	... 29 more

In [103]:
df = predictions1.selectExpr("User_ID as User_ID", "Product_ID as Product_ID", 'prediction as Purchase')

NameError: name 'predictions1' is not defined

In [104]:
df.toPandas().to_csv('submission.csv')

KeyboardInterrupt: